/* Container for content */
body {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        }

/* Mobile-first media queries */
@media screen and (min-width: 768px) {
body {
         width: 100%;
         margin-left: 20px;
         margin-right: 20px;
        }
        
        /* Tablet-specific styles */
        }

@media screen and (min-width: 1024px) {
body {
        width: 100%;
        }
        
        /* Desktop-specific styles */
        }

body {
        font-family: Arial, Helvetica, khmer, sans-serif;
        background-color: white;
        line-height: 1.5;
        margin-left: 10%;
        margin-right: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        }
* {
    margin: 0px;
}
img {
    width: 100%;
    margin-top: 20px;
}
p {
    font-size: 13px; 
    font-family: Battambang, system-ui;
    color: gray;
    font-weight: 400;
    font-style: normal;
}
button {
    background-color: #ecf0f1;
    color: #337ab7;
    border: 1px solid rgb(183, 181, 181);
    border-radius: 1px;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-family: Moul, serif;
    margin-top: 10px;
    width: 50%;
}
.button.active {
    /* ative-status */
    background-color: #2f9ae4;
    color: white;
}

.button active {
    margin-right: -3px;
}
.button {
    margin-left: -3px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 15px;
    margin: 1px;
    border: 1px gray solid;
}
table td {
    font-family: "Battambang", system-ui;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    border: 1px rgb(183, 181, 181) solid;
    padding: 10px;
}
.tbody {
    width: 50%; 
    background-color: #ecf0f1
} 