* {
    margin: unset;
}
.content {
        width: 100%;
        max-width: 768px;
        height: 100vh;
        margin: auto;
        padding: 20px;
        }
.content {
        background-color: white;
        line-height: 1.5;
        width: 100%;
        max-width: 375px;
        height: 100vh;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        }
img {
    width: 100%;
    margin-top: 15px;
    margin-top: 5px;
}
p {
    font-size: 13px; 
    font-family: Battambang, system-ui;
    color: gray;
    font-weight: 400;
    font-style: normal;
    margin: 8px 0px;
}
button {
    background-color: #ecf0f1;
    color: #337ab7;
    border: 1px solid rgb(183, 181, 181);
    border-radius: 1px;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    font-family: Moul, serif;
    width: 50%;
}
.button.active {
    /* ative-status */
    background-color: #2f9ae4;
    color: white;
}

.button active {
    margin-right: -5px;
}
.button {
    margin-left: -3px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 15px;
    margin: 0px;
    border: 1px gray solid;
}
table td {
    font-family: "Battambang", system-ui;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    border: 1px rgb(183, 181, 181) solid;
    padding: 8px;
}
.tbody {
    background-color: #ecf0f1
} 